Descrizione: lancia chrome alla pagina di profilo desiderato, accede a twitter, prende tutti i testi dei tweet e scrolla giù, e va avanti così fino alla fine, per concludere salva un csv con tutti i tweet in linea

In [1]:
import csv
from time import sleep
from selenium import webdriver
import pprint
import pandas as pd
from selenium.common import exceptions

In [69]:
def main_only_selenium():
    """Run main program routine"""
    
    # startup the webdriver
    # initiete constants
    driver = webdriver.Chrome(executable_path="./chromedriver")
    records = pd.DataFrame()
    #login_url = 'https://twitter.com/login'
    url = 'https://twitter.com/elonmusk'
    SCROLL_PAUSE_TIME = 7
    last_height = driver.execute_script("return document.body.scrollHeight")
    
    #print(last_height)
    
    user = 'your_username' 
    passw ='your_password'
    
    driver.get(url)
    
    sleep(2) 
    
    driver.find_element_by_xpath('//*[@id="layers"]/div/div[1]/div/div/div/div/div/div/div[1]/a/div/span/span').click()
    
    sleep(3)    
    
    driver.find_element_by_name('session[username_or_email]').send_keys(user)
    driver.find_element_by_name('session[password]').send_keys(passw)
    driver.find_element_by_xpath('//*[@id="react-root"]/div/div/div[2]/main/div/div/div[2]/form/div/div[3]/div').click()
    
    sleep(5)    
    
    while True:
    
        results = driver.find_elements_by_xpath('//div[@data-testid="tweet"]')

        for card in results:

            try:
                _comment = card.find_element_by_xpath('.//div[2]/div[2]/div[1]').text
            except exceptions.NoSuchElementException:
                _comment = ""
            try:
                _responding = card.find_element_by_xpath('.//div[2]/div[2]/div[2]').text
            except exceptions.NoSuchElementException:
                _responding = ""
                
            tweet = _comment + _responding

            records = records.append({'tweets':tweet}, ignore_index=True)
        
        
        # Scroll down to bottom
        #driver.execute_script("window.scrollTo(0, SCROLL_HEIGHT)")
        driver.execute_script("window.scrollTo(0, document.body.scrollHeight)")
        
        
        # Wait to load page
        sleep(SCROLL_PAUSE_TIME)

        # Calculate new scroll height and compare with last scroll height
        new_height = driver.execute_script("return document.body.scrollHeight")
        print(new_height)
        if new_height == last_height:
            break
        last_height = new_height

        # save data to csv file
        records.to_csv   ('elon_tweets.csv', index=False, mode='a', header=False)

In [ ]:
main_only_selenium()

In [3]:
elon_tweets = pd.read_csv('tweets/elon_tweets.csv')

In [4]:
elon_tweets.describe()

       View from the droneship of Falcon 9’s landing
count                                          13918
unique                                           593
top                                         Liftoff!
freq                                             135

In [73]:
elon_tweets.drop_duplicates()

           View from the droneship of Falcon 9’s landing
0      5000 kms with 27 Supercharger StationsTesla op...
1      Looking at holding Tesla AI Day in about a mon...
2      Falcon 9's first stage returns to Earth and la...
3          View from the droneship of Falcon 9’s landing
7                      From the top of Starbase high bay
...                                                  ...
14803  Nine years laterSpaceX\n@SpaceX\n · Jul 15, 20...
14804  Live webcast of Crew Dragon’s test flight with...
14806  Dragon docks with \n@Space_Station\n in ~3 hou...
14807  Crew Dragon has separated from Falcon 9’s seco...
14808  Falcon 9 booster has landed on the Of Course I...

[594 rows x 1 columns]

In [5]:
doge_tweets = []
j=0
for i in range(0,594):
    tweet = elon_tweets.iloc[i,0]
    if 'doge' in str(tweet).lower():
        doge_tweets.append(tweet)
        j+=1

In [6]:
elon_doge_tweets = pd.DataFrame(doge_tweets)

In [77]:
elon_doge_tweets.to_csv('doge_tweets.csv')